.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

.search-input {
  padding: 8px 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;

  border-bottom: 5px solid;
  border-image: linear-gradient(to right, #31e895, #1373ed) 1;
}

.music-table {
  width: 100%;
  max-width: 430px;
  border-collapse: collapse;
  text-align: left;
  font-size: 12px;
}

.music-row {
  display: block;
  /* border: 1px solid #ddd; */
  padding: 5px 6px;
  position: relative;
  margin: 10px 40px;
}

.music-card-wrapper {
  display: flex;
  flex-direction: column;
}

.music-card {
  display: flex;
  align-items: center;
  /* gap: 10px;  */
}

.cantor-icon {
  width: 13.62px;
  height: 15.66px;
  vertical-align: middle;
  margin: 0px 8px;
}

.cantor-span {
 min-width: 130px;
 max-width: 131px;
}

.musica-icon {
  width: 11.35px;
  height: 18.14px;
  vertical-align: middle;
  margin: 0px 8px;
}

.inicio-cell {
  margin-top: 3px;
  font-size: 12px;
  white-space: nowrap;
  padding-top: 5px;
}


.codigo-cell {
  position: absolute;
  /* top: 51%; */
  right: 0px;
  font-size: 16px;
  text-align: center;
  white-space: nowrap;
  width: 84px;
  height: 27px;
  background-color: transparent;
}

.cod-card {
  display: flex;
  border-top: 5px solid;
  margin-top: 3px;
  border-image: linear-gradient(to right, #31e895, #1373ed) 1;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* _________________________popup________________ */

.popup-card {
  background-color: #141414;
  padding: 20px 25px;
  border-radius: 10px;
  max-width: 320px;
  width: 90%;
  font-size: 14px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  /* border-top: 5px solid; */
  border:  5px solid;
  border-image: linear-gradient(to right, #31e895, #1373ed) 1;
}

.popup-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: 3px solid;
  border-color: #1371ed93;
}

.popup-card p {
  padding: 2px;
}

.popup-btn {
  margin: 20px 25px 0; 
  background-color: #272727c8;
  /* color: white; */
  border: none;
  padding: 8px 14px;
  font-size: 13px;
  border-radius: 4px;
  cursor: pointer;
}

/* _________________________paginas________________ */
.pagination-container {
  display: flex;
  gap: 5px;
  margin-top: 20px;
}

.pagination-container button {
  padding: 6px 12px;
  border: 1px solid #007bff;
  background-color: white;
  color: #007bff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.pagination-container button:hover {
  background-color: #007bff;
  color: white;
}

.current-page {
  font-weight: bold;
  padding: 6px 12px;
  background-color: #f0f0f0;
  border-radius: 4px;
}
